.page {
  color: rgb(135, 202, 28);
  &__name {
    color: yellow;
    font-size: 3rem;
  }
  &__message {
    font-size: 2rem;
  }
  &__content {
    font-size: 1.5rem;
    font-weight: bold;
    &--item {
      margin-bottom: 2.5rem;
    }
  }
}
